.event-form {
    width: 80%;
    font-weight: lighter;
    font-family: 'Poppins', 'Lato', sans-serif;
  }
  .event-form label {
    font-weight: lighter;
    font-family: 'Poppins', 'Lato', sans-serif;
  }
  
  .logoalign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  