.photoleft
{
    text-align: left;
    margin-left: 0%;
}
.logoalign
{
    align-items: center;
}
.event-form {
    width: 80%;
  }
  
  .photoleft {
    text-align: left;
  }
  
  .logoalign {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .left1
  {
    margin-left: 0px;
  }