  
  .align1
  {
    margin-left: 10px;
  }
  .close
  {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;  
}
.nav-link
{
  cursor: pointer;
}
.mousecursor li
{
  cursor: pointer;
  padding-left: 15px;
}
/* Center brand on mobile only */
@media (max-width: 991px) {
  .navbar-brand {
    text-align: center;
    width: 100%;
  }

  .navbar-collapse .nav-link,
  .buttonm {
    text-align: left;
    cursor: pointer;
  }

  .navbar-collapse {
    padding-left: 1rem;
  }
}
.customevent
{
  margin-right: 50px;
}
