.billing-frame {
  width: 80%;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.no-print {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .billing-frame {
    background-color: white !important;
    font-size: 11pt;
    color: black;
  }
}
