.rounded-end
{
    height: 30px;
}
.single-rounded-box
{
  border-radius: 40px; /* Rounded corners */
  padding: 20px;
  width: 350px;
  height: 90px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  background-color: #0e7c61;
}
.bigbox
{
    
}